<div class="row">
    <div class="col-lg-6">
        <h2>Add Employee</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <form>
            <div class="col-lg-12">
                Name - input
            </div>
            <div class="col-lg-12">
                mail - input
            </div>
            <br>
            <br>
            <div class="col-lg-12">
                date of admission - datepicker
            </div>
            <div class="col-lg-12">
                phone number - input 
            </div>
            <div class="col-lg-12">
                marital status - select
            </div>
            <div class="col-lg-12">
                gender - radiobutton
            </div>
            <div class="col-lg-12">
                accept and cancel - buttons
            </div>
        </form>
    </div>
    <div class="col-lg-4 offset-lg-2">
        <img src="../../../assets/img/newUserIMG.png" alt="" width="95%" height="95%">
    </div>
</div>